body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
.boton-jugada {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
#resultados {
  font-size: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jugadas{
  display:flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.ganador{
  border: solid 3px #3498db;
  padding: 5px 10px;
  border-radius: 10px;
}


